body {
font-family: 'Poppins', 'Montserrat', sans-serif;
background: linear-gradient(135deg, #0f0f0f, #3f727e);
padding: 20px;
line-height: 1.6;
}


h1 {
  font-family: 'Manrope', sans-serif;
  font-size: 3.2rem;
  font-weight: 800;
  text-align: center;
  margin-bottom: 30px;

  background: linear-gradient(75deg, #6c63ff, #00ffd5, #6c63ff);
  background-size: 200% auto;

  background-clip: text;
-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  text-shadow: 
    0 0 50px rgba(108,99,255,0.6),
    0 0 30px rgba(0,255,213,0.4);

  
  animation: shine 2s linear infinite;
}

@keyframes shine {
  100% { background-position: 200% center; }
}


h2 {
  color: #fff3e0;
  font-weight: 600;
  letter-spacing: 0.5px;
  display: inline-block;
  position: relative;
  margin-bottom: 20px;
  margin:12px;
}

h2::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 85%;
  height: 3px;
  background: linear-gradient(10deg, #6c63ff, transparent);
}

p {
margin:15px;
  color: #cfe8ee;
  opacity: 0.8;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

/* Skill card */
.skill {
  position: relative;
  padding: 8px 16px;
  font-size: 0.9rem;
  border-radius: 25px;

  color: #cfe8ee;
  background: rgba(255,255,255,0.05);
  border: 1px solid rgba(255,255,255,0.1);

  backdrop-filter: blur(6px);

  transition: all 0.25s ease;
  cursor: default;
  overflow: hidden;
}

.skill::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 25px;
  padding: 1px;
  background: linear-gradient(120deg, #6c63ff, #00ffd5, #ff6ec4);

  -webkit-mask: 
    linear-gradient(#000 0 0) content-box, 
    linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  opacity: 0;
  transition: 0.3s;
}

.skill:hover {
  transform: translateY(-3px) scale(1.05);
  color: #ffffff;
  background: rgba(255,255,255,0.08);
}

.skill:hover::before {
  opacity: 1;
}

.skill:hover {
  box-shadow: 0 0 12px rgba(108,99,255,0.4);
}

/* Interests Section */
#interests {
  margin-top: 20px;
}

.interests-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.interest-card {
  flex: 1 1 250px;
  padding: 15px;
  border-radius: 12px;
  background: rgba(255,255,255,0.04);
  border: 1px solid rgba(255,255,255,0.1);
  transition: 0.2s ease;
}

.interest-card:hover {
  border-color: #6c63ff;
  transform: translateY(-12px);
}

.interest-card {
  position: relative;
  padding: 15px;
  border-radius: 12px;
  overflow: hidden;
  color: #fff;
}

.interest-card::before {
  content: "";
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center 70%;
  opacity: 0.35; /* controls image visibility */
  z-index: 0;
}

.interest-card::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6); /* darkness level */
  z-index: 1;
}

.interest-card * {
  position: relative;
  z-index: 2;
}

.interest-card:nth-child(1)::before {
  background-image: url("bio.jpg");
}

.interest-card:nth-child(2)::before {
  background-image: url("coding.jpg");
}

.interest-card:nth-child(3)::before {
  background-image: url("machenical.jpg");
}

.interest-card:nth-child(4)::before {
  background-image: url("gaming.jpg");
}

.interest-card:nth-child(5)::before {
  background-image: url("cinema.jpg");
}

.interest-card:nth-child(6)::before {
  background-image: url("corelation.jpg");
}

/* platform Links */
a {
  color: #b3afff;          
  text-decoration: none; 
}

a:hover {
  color: #00ffd5;        
  text-decoration: none;
}

footer {
margin-top: 20px;
text-align: center;
color: #cfe8ee;
font-size: 0.9rem;
}

